<img src="https://www.mmu.edu.my/fci/wp-content/uploads/2021/01/FCI_wNEW_MMU_LOGO.png" style="height: 80px;" align=left>

# Learning Objectives

Towards the end of this lesson, you should be able to:
- handle different types of missing data
- handle noisy data using various techniques
- merge different sets of data into a unified set
- assess relationships of attributes

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

---

### For Google Colab Use Only
Skip this section if you are using Jupyter Notebook etc.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

In [ ]:
drive_path = '/content/drive/MyDrive/Trimester/2310/TDS3301/Tutorials/Tutorial 3/' #set your google drive path


---
## Dealing with missing values

Recap, when dealing with any dataset, read the data dictionary/description/metadata of your dataset. Missing values are often dealt with as `empty` cells in the data but sometimes, they are filled with dummy values like `?`, `-`, `.`, etc.
If you don't have access to the metadata, look at the descriptive statistics (mean, min, max) or make use of visualizations to try and make sense of the data.

For simple cases, consider this toy data here containing age and gender with missing data represented by `NaN`:

In [3]:
age = pd.Series([18,18,19,20,np.nan,14,np.nan])
gender = pd.Series(['male', 'male', 'female', 'female', 'male', 'female', 'male'])

df = pd.DataFrame({'age':age, 'gender':gender})
display(df)

    age  gender
0  18.0    male
1  18.0    male
2  19.0  female
3  20.0  female
4   NaN    male
5  14.0  female
6   NaN    male

If missing data is "recorded" as `NaN` like in this case, then `Pandas` provide various useful functions to detect, remove, or fill (impute) them: <br>
`df.isna()`: calculates the amount of missing data for each attribute<br>
`df.dropna()`: drop rows of data containing missing data<br>
`df.fillna()`: fill in missing data with set value.

Try the following tasks:

In [6]:
# Get the number of NAs in df by column
df.isna().sum()

age       2
gender    0
dtype: int64

In [8]:
# create a copy of df and name it df1, then drop all na.
df1 = df.copy()
df1.dropna()

    age  gender
0  18.0    male
1  18.0    male
2  19.0  female
3  20.0  female
5  14.0  female

In [13]:
# create a copy of df and name it df2, then fill NA with median of each feature
#df3 = df.copy()
#median = df.median(1)
#df3.fillna(median)

In [ ]:
# create a copy of df and name it df3, then fill NA with median of each feature
# hint: use relevant function to extract the needed statistical measure
df3 =

There are more ways to deal with missing values and for varieties of data such as categorical attributes. <br>
Various imputation methods has been developed to make the "choice" of values to be more reflective of real data (fill with most frequent, MICE, etc.).
Explore more here: https://scikit-learn.org/stable/modules/impute.html

Let's try more advanced methods of imputation using the [Credit Approval dataset retrived from UCI ML repository](https://archive.ics.uci.edu/dataset/27/credit+approval). A copy of the dataset is provided with this tutorial materials.

After understanding the information, proceed with reading the data and identifying the missing values:

In [14]:
try:
  drive_path
except NameError:
  drive_path = ''

data_raw = pd.read_csv(drive_path + 'credit+approval/crx.data',header = None)
data_columns = []
for i in range(16):
  data_columns.append('A' + str(i+1))
data_raw.columns = data_columns
display(data_raw)

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  00202    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g  00043  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  00280  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  00100    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  00120    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  00260    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  00200  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  00200    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  00280  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g  00000    0   -

[690 rows x 16 columns]

In [19]:
# find out the representation of missing values used in the dataset
# replace the representation with np.na 
print(data_raw1['A1'].unique()) #check column
data_raw = data_raw.replace('?',np.nan) #replace ? to NaN

# check the column with missing values and the amount
data_raw.isna().sum()

['b' 'a' '?']

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [ ]:
#convert column into the appropriate types

data_raw[????] = pd.to_numeric(data_raw[????],errors="coerce")
data_raw.dtypes

### Univariate Imputation
Univariate imputation algorithm imputes values in the i-th attribute using only non-missing values in that attribute itself without considering other attributes in the dataset (no estimation using other attribtues).

The `SimpleImputer` from scikit-learn provides basic strategies for this approach that can be applied to different data types, as long as the missing values are encoded as `np.nan`.

Complete the codes below to perform the simple imputation:

In [ ]:
from sklearn.impute import SimpleImputer

# initialize imputer to fill in missing values of categorical/object attribute
# using the most frequently appearing categorical value
cat_impute = SimpleImputer(missing_values=np.nan, strategy=????)

#select all categorical / object attributes from the dataset
data_cat = data_raw.select_dtypes(????)
# fit the imputer with the selected categorical data columns and save the output
# as a dataframe. Remember to name the columns again.
data_cat_clean = pd.DataFrame(cat_impute.fit_transform(????))
data_cat_clean.columns = data_cat.columns

#Check the categorical data for any remaining missing values
display(data_raw[cat_columns].isna().sum()) #before imputation
display(data_cat_clean.isna().sum()) #after imputation

In [ ]:
#get index of rows with missing values
data_cat_miss = []
for i in data_cat.columns:
  data_cat_miss.extend(data_cat[data_cat[i].isnull()].index)
data_cat_miss = np.unique(data_cat_miss)
#see imputed values
display(data_cat_clean.iloc[data_cat_miss])

In [ ]:
# initialize imputer to fill in missing values of numerical attribute
# using the means of the attributes
num_impute = SimpleImputer(missing_values=np.nan,strategy=????)
#select the numerical attributes from the dataset with missing values
data_num = data_raw.select_dtypes(????)
# fit the imputer with the selected numerical data columns and save the output
# as a dataframe. Remember to name the columns again.
data_num_clean = pd.DataFrame(num_impute.fit_transform(????))
data_num_clean.columns = data_num.columns
#Check the numerical data for any remaining missing values
display(data_num.isna().sum())
display(data_num_clean.isna().sum())

In [ ]:
#get index of rows with missing values
data_num_miss = data_num[data_num['A2'].isnull()].index.tolist()
#see imputed values
display(data_num_clean.iloc[data_num_miss])

In [ ]:
#create a copy of the dataset and name it data_clean
data_clean = ????
#replace the cleaned categorical and numerical columns into data_clean
data_clean[data_cat_clean.columns] = ????
data_clean[data_num_clean.columns] = ????
data_clean.isna().sum()

### Multivariate Imputation
Mmultivariate imputation algorithms use the entire set of available attributes to estimate the missing values. Comparing to univariate imputation, this approach would be more sophisticated, providing more reasonable values for imputation. A convenient function provided but Scikit Learn for multivariate imputation is the `IterativeImputer`.

Complete the code below to try out the `IterativeImputer`:

In [ ]:
from sklearn.experimental import enable_iterative_imputer #must be included to enable the usage of the imputer
from sklearn.impute import IterativeImputer

# initialize imputer to fill in missing values of numerical attribute
# using the means of the attributes
num_iterimpute = IterativeImputer(random_state=0)
#select the numerical attributes from the dataset with missing values
data_num = ????
# fit the imputer with the selected numerical data columns and save the output
# as a dataframe. Remember to name the columns again.
data_num_clean2 = pd.DataFrame(????.fit_transform(data_num))
data_num_clean2.columns = ????
#Check the numerical data for any remaining missing values
display(data_num.isna().sum())
display(data_num_clean2.isna().sum())

In [ ]:
#get index of rows with missing values
data_num_miss = data_num[data_num['A2'].isnull()].index.tolist()
#see imputed values
display(data_num_clean2.iloc[data_num_miss]) #observe the difference with the results of the SimpleImputer

Observe the difference in the imputer values between using the `SimpleImputer` and the `IterativeImputer`. There are also various parameters that can be set to adjust the imputation. Explore the documentation for these options.

In [ ]:
#replace the numerical columns in data_clean with the columns filled using IterativeImputer
????

data_clean.isna().sum()

---

## Dealing with duplicated data
Recall: Do a quick check if there are any duplicated data.

In [ ]:
# Enter your codes here to drop all the duplicated data...

---
## Dealing with inconsistencies and noisy data

Other than missing and duplicated data, there can be many types of inconsistencies and noise in data that needs to be handled to ensure data quality. For instance, we know for a fact that some features are not suppose to have negative values, hence needs to be corrected (either by "clipping" the negative values and set to 0, or inferred and replaced with more reasonable values, or etc.). Simple cases like this can be identified and handled using simple programming depending on the data structure.

Try the following toy example:

In [ ]:
# Simple dataset of age and income with noisy data records
age = pd.Series([24,21,24,-26,27])
income = pd.Series([3000,2500,3400,4599, -9999])

df = pd.DataFrame({"age":age, "income":income})

display(df)

In [ ]:
# Replace negative values with nan for age and income

age = age.map(lambda x: np.nan if x < 0 else x)
income = income.map(lambda x: np.nan if x < 0 else x)

display(age)
display(income)

#The values can then be imputed using the SimpleImputer or IterativeImputer

In [ ]:
#Alternatively, can clip the values if the appropriate range is known
df = df.clip(lower=0)
df = df.clip(upper=5000)
display(df)

Noise and inconsistencies could happen for categorical data as well. Let's try cleaning the categorical columns in the Credit Approval dataset. For practise purposes, let's make the following few assumptions for this exercise:
* Consider the attributes with 3 unique values
* Assume the value with significantly small counts / frequency to be noise
* Clean by replacing those values appropriately

In [ ]:
# Check the categorial (object) attributes in the previously cleaned dataset
# hint: use describe only for that type of data

In [ ]:
# Identify the attributes with 3 unique values and find out the frequencies (can use visualization)

In [ ]:
# replace the data with most frequent category



for i in range((len(cat_columns))):
 sns.catplot(data = data_clean, x = cat_columns[i], kind='count')

Other than using the most frequent count, there are other methods that can be used to infer values to clean noisy data (and also fill in missing values), such as **Hot Deck Imputation**, modified **KNN imputation**, **Predictive model inference**, etc.

It is also a common issue encountered in real world datasets where **strings contain unnecessary characters, symbols or white spaces**. Such issues have vert large variety that we cannot manually list out all the texts to be replaced. So, for such data problems, Regular Expressions (identifying patterns in the text) is very useful for the cleaning.

`regex` is a parameter used in the `replace()` function that determines if the passed-in pattern is a regular expression. If True, it assumes the passed-in pattern is a regular expression and, if False, the function treats the pattern as a literal string.

Try the following test sample:

In [ ]:
state = pd.Series(["\tJohor,Bahru\n\t", "Sela   ngor\n\t", " Sabah     ", "Sarawak`", "Penang", "123Kel3antan4", "Ke_dah", "Pahan?g"])
display(state)

In [ ]:
#remove unnecessary characters and spaces
state = state.replace("[^a-zA-Z]", "", regex=True)
display(state)

In [ ]:
# Regular Expressions (regex) is super useful in cleaning out strings.
state = state.replace("\s", "", regex=True) # remove all whitespace, works even if the whitespace is in the center of a string as opposed to state.str.strip()

# there are many ways we can clean this data using regex, since we know the state only consist of alphabets we can do:
state = state.replace("[^a-zA-Z]", "", regex=True).replace("JohorBahru", "Johor Bahru")

display(state)

## Intergrating datasets
Often in data science / data mining projects, sets of data may originate from various different sources. In order for efficient and effective extraction of knowledge, these sets need to be merged into a single unified set.

In the simplest case, datasets organized as relational tables can be intergrated easily in terms of column or rows. We can use `pandas.merge()` to do a join (inner, outer, left, right) by key (identified linking various tables) or simply use `pandas.concat()` to concatenate by row or column.

Reference for different type of joining:
* *Inner join*: return the common rows between the two tables
* *Outer join*: return the common rows between the two tables and the rows which are not matched
* *Left join*: returns all records from the left side and matched rows from the right table
* *Right join*: returns all rows from the right side and unmatched rows from the left table

Try the following dummy data for a quick test:

In [ ]:
df1 = pd.DataFrame({'key': ['key_1', 'key_2', 'key_3'],
                   'B': np.random.random_sample(3)*1000})

df2 = pd.DataFrame({'key': ['key_1', 'key_2', 'key_3', 'key_4'],
                   'C': np.random.random_sample(4)*100})

display(df1)
display(df2)

In [ ]:
# Merging by key, try out the different merges using the 'how' parameter
df1.merge(df2, on="key", how="outer") # same concept as sql joins
display(df1)

In [ ]:
#concat will simply add the data in
display(pd.concat([df1,df2], sort=True, axis=0)) # by row
display(pd.concat([df1,df2], sort=True, axis=1)) # by column

Notice the `NaN` cells created during the merging as the two sets of data may not have the exact match of rows and columns.

Next, try out the merging on the Big Mart Sales data used in the previous tutorial. Recall that one of the set is lacking one column. Consider what type of merging is appropriate for that set, and implement using code:

In [ ]:
df_train = pd.read_csv(drive_path + "BigMartSales/train.csv")
df_test = pd.read_csv(drive_path + "BigMartSales/test.csv")
# Enter your code here

## Correlation Analysis

After cleaning and merging processes, there may / may not be some attributes that are closely related.

### Chi-squared Test (categorical data)

Firstly, let's try the **chi-squared test** from `scipy` package:

In [ ]:
from scipy.stats import chi2_contingency

# create contingency table of the 2 attributes
ct_table_ind=pd.crosstab(data_clean['A1'],data_clean['A4'])
print('contingency_table :\n',ct_table_ind)

# compute the chi2 stat and get the value
c_stat, p, dof, expected = chi2_contingency(ct_table_ind)

print("Chi2 statistic: ", c_stat)
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

Exercise: Compute the chi2 statistic for all pairs of the categorical attributes. Create a heatmap to visualize the relationships.

In [ ]:
#Enter your code here

### Covariance (Numerical)

We can find relationships of numerical data using covariance:

In [ ]:
cov_mat = data_clean.cov(numeric_only=True)
display(cov_mat)
sns.heatmap(cov_mat)

Notice the covariance values are significantly different for the different attributes, which may be misleading when assessing relationships of attributes with different ranges in their units.

### Correlation Coefficient
Lastly, let's try the correlation coefficient for these numerical values:

In [ ]:
corr_matrix  = data_clean.corr(numeric_only = True)
sns.heatmap(corr_matrix)

Notice the more meaningful heatmap showing the relationship of the numerical attributes due to the normalization. There are various methods of correlation provided by pandas which can be selected using the `methods` parameter. Explore the documentation for the options.

Lastly, based on the various relationship analysis, what can be concluded from the Credit Approval dataset attributes? Write down your observations: